// Define variables for your color scheme

// For example:
$turquoise: #26AECC;
$orange: #F75508;
$dark-gray: #393939;
$gray: #565B5B;
$light-gray: #d8d8d8;
$green: #1EDD88;
$blue: #0D6EFD;
$medium-gray: #565B5B;
