#show-experience {
  p {
    color: darkslategray;
    font-size: 18px;
  }

  .detail-img {
    border-radius: var(--bs-border-radius-xl) 0 0 var(--bs-border-radius-xl);
    height: 500px;
    width: 600px;
    object-fit: cover;
    // var(--bs-border-radius-xl) !important
  }

  .detail-category {
    border-radius: 15px;
    text-decoration: none;
    color: white;
    background: rgb(150,150,150);
    padding: 7px;
    font-size: 14px;
  }

  .detail-container {
    background: white;
    height: 500px;
  }

  .detail-text {
    background: white;
    overflow: scroll;
    height: 190px;
    margin-bottom: 30px;
    margin-top: 10px;
  }
}
