<div class="footer mt-auto">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fa fa-envelope"></i></a>
  </div>
  <br>
  <div class="footer">
     Share on socials
  </div>
</div>
