<div class="container justify-content-center text-center">
  <ul class="list-inline ">
    <% categories.each do |category| %>
      <li class="list-inline-item">
        <%= link_to results_path(category: category.id) do %>
          <h5><%= category.name %></h5>
          <%= image_tag("categories/#{category.name.downcase}.png", width: 60) %>
        <% end %>
      </li>
    <% end %>
  </li>
</ul>
</div>
