<div class="justify-content-center d-flex mt-5">
  <div class="card rounded-3 py-1 px-3 mt-3" style="width: 46%">
    <ul class="m-0 list-unstyled d-flex justify-content-between">
      <% categories.each do |category| %>
        <li>
          <%= link_to results_path(category: category.id) do %>
            <%= image_tag("categories/#{category.name.downcase}.png", width: 60) %>
            <h4><%= category.name %></h4>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
