<div class="container text-center">
  <ul class="list-group list-group-horizontal justify-content-center">
    <% categories.each do |category| %>
      <li class="list-group-item ">
        <%= link_to results_path(category: category.id) do %>
          <%= image_tag("categories/#{category.name.downcase}.png", width: 60) %>
          <h5><%= category.name %></h5>
        <% end %>
      </li>
    <% end %>
  </li>
</ul>
</div>
