<div class="container">
  <div class="row justify-content-center g-3">
    <% experiences.each do |experience| %>
      <div class="col-12 col-lg-6">
        <div class="card bg-dark text-white" id="experiences">
          <%= cl_image_tag experience.photo.key, class: "card-img" %>
          <div class="card-img-overlay">
            <h4 class="card-title"><%= experience.title %></h4>
            <p class="card-text"><%= experience.description %></p>
            <%= link_to "Details", root_path, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
