<div class="container">
  <div class="row justify-content-center mt-4 p-2 g-3">
<h1 class="text-center mt-1" style="font-size: 30px" >Get inspired for your next adventure</h2>
    <% experiences.each do |experience| %>
      <div class="col-12 col-lg-3 p-2">
          <%= link_to experience_path(experience), class: "text-decoration-none" do %>
        <div class="card-main fancy-card" style="height: 350px";>
            <%= cl_image_tag experience.photo.key, class: "fancy-photo", style:"filter: brightness(80%);"%>
            <div class="content">
              <h5 class="title text-white">
                <%= experience.title %>
              </h5>
              <p class="copy text-body">
                <%= truncate(experience.description, length: 200, omission: '...') %>
              <p>
            </div>
        </div>
          <% end %>
      </div>
    <% end %>
  </div>
  </div>
