  <%= simple_form_for ([experience, task]) do |f| %>
  <div class="form-actions">
    <%= f.input :deadline, html5: true %>
    <%= f.input :penalty %>
  </div>
  <%= f.button :submit, class: "btn-main" %>
<% end %>
