.card-list-horizontal {
  text-align: left;

  .card {
    max-height: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 30px;
  }

  .card-price {
    text-align: right;
    margin: 20px;
  }

  .card-image-container {
    width: 80px;
    height: 80px;
    background-position: center;
    background-size: cover;
  }
}
