.navbar-lewagon {
  justify-content: space-between;
  background: white;
  top: 0px;
  width:100%;
  font-family: "Museo Sans 500";
  font-size: 18px;
  height: 68px;
  position: sticky;
  z-index: 10;
  }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  width: 123px;
  padding-left: 10px;
}
.nav-link {
  color: #393939;
}
.nav-link:hover {
  color:$orange;
}

