// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "experiences/show";

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.5;
  color: #8F8F8F;
}

h2 {
  font-size: 30px;
  line-height: 1.5;
  color: $dark-gray;
  font-family: "Museo Sans 500";
}

h3 {
  font-weight: bold;
  font-size: 22px;
  color: #a3a2a2;
}

h4 {
  font-size: 16px;
  color: $dark-gray;
}

h5 {
  font-size: 21px;
  color: $dark-gray;
}

h6 {
  font-weight: bold;
  font-size: 30px;
  color: $turquoise;
  font-family: "Museo Sans 700";
}

p{
  font-size: 20px;
  color: #8F8F8F;
}

.container_banner{
  padding: 100px;
  text-align: center;
}

.container {
  padding: 25px;
}

.container_category {
  text-align: center;
  padding-top: 50px;
}

#banner_main{
  background-size: cover;
  background-position: center;
}

#banner_main h1 {
  color: white;
}

// .main-content {
//   margin-top: 80px;
// }

.row{
padding: 30px;
}


#icon{
  &:hover {
      // transform: scale3d(0, 0, 0);
      transition: .25s ease-in;
      cursor: pointer;
      transform: scale(1.15);
  }
}
.icon-link{
  text-decoration: none;
}


.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.img-center-steps {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
  margin-top: 30px;
  width: 70%;
}
