<ul class="list-group list-group-flush">
  <% users.each do |user| %>
    <li class="list-group-item">
      <%= link_to new_user_user_task_path(user), data: { action: "click->refresh-users-list#sendTask"} do %>
        <%= cl_image_tag user.photo.key,
      class: "avatar me-1",
      width: 40, height: 40,
      crop: :thumb,
      gravity: :face unless user.photo.key.nil? %>
        <%= "#{user.first_name} #{user.last_name}" %>
      <% end %>
    </li>
  <% end %>
</ul>
